body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #fde4cf;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: #ffcfd2;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: #fde4cf;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 26em;
}

.board{
    background-color: white;
    width: 7em;
    height: 8em;
    border-style: solid;
    margin-left: 0.2em;


}